echo "# RoamAwere-" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/christensenquincy1-alt/RoamAwere-.git
git push -u origin main
